<?xml version="1.0"?>
<model>
  <name>lidar_bot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>

  <description>
    Simple robot with a 3D GPU lidar sensor for ROS 2 + Gazebo.
  </description>
</model>

